.contact {
    height: 100%;
    padding-top: 40vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: 
    /* fade right side */
    linear-gradient(
        to right,
        rgba($primary-color, 0.7),
        rgba($primary-color, 0.2)
    ),
    url('../img/grad.jpg') center top;
    background-repeat: no-repeat;
    background-size: cover;

    h2 {
        font-size: 3rem;
        margin-bottom: 2rem;
    }

    &-list {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem;
        font-size: 1.5rem;
    }

    .social-icons {
        position: initial;
        margin-top: 2rem;
    }
}