.menu-btn {
    position: absolute;
    z-index: 1;
    right: 1rem;
    top: 1rem;
    height: 20px;
    width: 28px;
    cursor: pointer;

    @include transition-ease;

    //middle bar
    &-burger {
        position: absolute;
        right: 0;
        top: .5rem;
        width: 28px;
        height: 3px;
        background: $primary-text-color;
        @include transition-ease;

        //top bar
        &::before {
            content: '';
            position: absolute;
            top: -8px;
            width: 28px;
            height: 3px;
            background-color: $primary-text-color;
            @include transition-ease;
        }

        //bottom bar
        &::after {
            content: '';
            position: absolute;
            top: 8px;
            width: 20px;
            height: 3px;
            background-color: $primary-text-color;
            @include transition-ease;
        }

        //js - add/remove .open when clicked
        &.open{
            transform: rotate(720deg);
            //hides middle bar
            background: transparent;

            //top bar
            &::before {
                //x-horizontal, y-vertical
                transform: rotate(45deg) translate(5px, 8px);
            }

            //bottom bar - shorter
            &::after {
                //make bigger
                width: 28px;
                transform: rotate(-45deg) translate(3px, -7px);
            }

        }

    }

}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    opacity: .98;
    visibility: hidden;

    //js - add/remove .open when clicked
    &.open {
        visibility: visible;
    }

    .menu-nav {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        height: 100vh;
        overflow: hidden;
        background: $primary-color;
        list-style-type: none;
        padding-right: 1rem;
        //vertical - position off the page, at the top
        transform: translateY(-100%);
        @include transition-ease;

        &.open {
            //initial position
            transform: translateY(0);
        }

    }
}