.projects {
    padding-bottom: 2rem;

    &-bio-image {
        height: 10vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;

       .text-secondary {
           font-size: 2rem;
           font-weight: 500;
       }

    }

    &-items {
        width: 40vw;
        margin: 2rem auto 0 auto;
        display: grid;
        grid-template-rows: 1fr;
        grid-gap: 2rem;
    }

    
    @media (max-width: 500px) {

        //resize view-width, larger on smaller devices
        &-items {
            width: 65vw;
        }

        &-items .first {
            margin-top: 1rem;
        }

        
        
    }

    &-item {
        position: relative;
        border-bottom: 5px solid $secondary-color;
        overflow: hidden;
        cursor: pointer;

        img {
            width: 100%;
        }

        &::after {
            content: '';
            //parent relative
            position: absolute;
            //pushes to bottom, 'under' why overflow is hidden
            top: 100%;
            left: 0;
            height: 100%;
            width: 100%;
            background: $secondary-color;
            opacity: 0;
            @include transition-ease;
        }

        &:hover {
            &::after {
                top: 0;
                opacity: .7;
            }

            //after, show buttons
            .projects-btn {
                opacity: 1;
            }
        }

    }

    &-btns {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        text-align: center;
    }

    //second project has 3 icons and needs grid x3
    &-btns-2 {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        text-align: center;
    }
    
    &-btn {
        opacity: 0;
        @include transition-ease;

        &::hover {
            color: $primary-text-color;
        }
    }

    .social-icons {
        display: flex;
        flex-direction: column;
    }

    footer {
        transform: 
        rotate(90deg)
        //x, y
        translate(-3rem, -5rem);
    }
   
}
