.projects {
    padding-bottom: 2rem;

    &-bio-image {
        height: 30vh;
        width: 100%;
        background: url('../img/mpc.png') center top;
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;

       .text-secondary {
           font-size: 2rem;
           margin-bottom: 2rem;
       }

    }

    &-items {
        width: 60vw;
        margin: 2rem auto 0 auto;
        display: grid;
        grid-template-rows: 1fr;
        grid-gap: 2rem;
    }

    &-item {
        position: relative;
        border-bottom: 5px solid $secondary-color;
        overflow: hidden;
        cursor: pointer;

        img {
            width: 100%;
        }
    }

    .social-icons {
        display: flex;
        flex-direction: column;
    }

    footer {
        transform: 
        rotate(90deg)
        //x, y
        translate(-3rem, -5rem);
    }
   
}